.days{
    background: black;
    color: whitesmoke;
}
.hours{
    background: black;
    color: whitesmoke;;
}
.minutes{
    background: black;
    color: whitesmoke;;
}
.seconds{
    background: black;
    color: whitesmoke;;
}