.product__info h3{
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
    height: 3rem;
}

.product__item{
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 60px;
    border: 0.1px solid rgb(172, 170, 170);
}

.product__info span{
    font-size: 0.9rem;
}

.product__card-bottom .price{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.product__card-bottom span i{
    font-size: 1.2rem;
    padding: 5px;
    background: var(--primary-color);
    color: #fff;
}

.product__img{
    height: 15rem;
}